@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "AYUMA";
  src: local("AYUMA"), url("./fonts/AYUMA.TTF") format("truetype");
}

@font-face {
  font-family: "BlackForest";
  src: local("BlackForest"), url("./fonts/BlackForest.otf") format("opentype");
}

.title{
  font-family: "BlackForest";
}

.name{
  font-family: "AYUMA";
}
